$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$avenir: Avenir, 'Avenir Next', Helvetica, 'Lucida Grande', sans-serif;
$verdana: Verdana, Arial, sans-serif;
$georgia: Georgia, 'Georgia', 'Century Schoolbook', Times, serif;

$open-sans: 'Open Sans', 'Helvetica', 'Helvetica Neue', Helvetica, Arial, 'Verdana', sans-serif;
$source-sans-pro: 'Source Sans Pro', $avenir;
$roboto: 'Roboto', $helvetica;
