form {
	input, textarea {
		-webkit-appearance: none;
		-moz-appearance: none;
		background: none;
		border-radius: .25rem;
		border: 2px solid $baseColorDark;
		font-size: $baseFontSize;
		font-family: $sans-serif;
		padding: $baseFontSize/4;
		color: text;
		max-width: 100%;
		margin: .5rem 0;
		&:focus {
			color: white;
			background: $baseColor;
		}
	}
	input[type="text"], input[type="email"], textarea {
		max-width: 38rem;
		width: 100%;
		display: block;
	}
	label {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 700;
	}
	input[type="radio"] {
		margin: 0;
		border-radius: 100%;
	}
	input[type="checkbox"] {
		background: tomato;
	}
	input[type="submit"] {
		background: none;
		color: $baseColor;
		@extend .btn;
	}
}
