$break--small: 31.25rem !default;
$break--medium: 43.75rem !default;
$break--large: 57.75rem !default;

$max--width: 68rem !default;

$pad--up: 1.5rem;
$pad--down: 1.5rem;
$pad--side: 1rem;
$pad--all: 1rem;
