@import 'colors';
@import 'ff';
@import 'sizes';

// *  D E F A U L T S * //


// Base Colors
$base-color: $blue !default;
$base-color-dark: $dark-blue !default;
$base-color-lite: $lt-blue !default;


// Fonts
$serif: $georgia !default;
$sans-serif: $open-sans !default;
$sans-serif-cond: $avenir !default;

$base-font-family: $sans-serif !default;
$base-font-weight: 300 !default;
$base-font-size: 1rem !default;

// Transitions
$transition-duration: 375ms !default;
$transition-func: ease-in-out !default;
$animation-func: ease !default;


// Z-index
$z-layers: (
  "top":            9999,
  "almost-top":     9998,
  "default":           1,
  "below":            -1,
  "waydownthere":  -9000
);
